.header {
  margin-bottom: 16px;
}

.content{
  padding: 20px;
  background: linear-gradient(to right, #bbb, #fff);
  margin-bottom: 16px;
}

.footer {
  background-color: #efefef;
  padding: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}