.header {
  margin-bottom: 16px;
}

.content{
  padding: 20px;
  margin: 0 auto 40px;
  width: 130vh;
}

.footer {
  background-color: #efefef;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}