.user-layout {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.user-title {
  text-align: left;
  font-size: 22px;
}

.form {
  background-color: white;
  width: 350px;
  margin: 20px auto;
}

